<component name="ArtifactManager">
	<artifact type="war" name="spring-4-operations:war">
		<output-path>$PROJECT_DIR$/target</output-path>
		<root id="archive" name="spring-4-operations.war">
			<element id="artifact" artifact-name="spring-4-operations:war exploded" />
		</root>
	</artifact>
</component>